dump.rdb
node_modules/
.idea/
*sqlite*
log/
tmp/
*.crt
localhost.key
openssl
nohup.out
public/assets/
oldProject/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
