<div class="email-to-maker">
  <section class="email-user">
    <img src="" alt="">
    <div class="email-user-title">
      <p class="">시민들이 전현희 의원님께 전하는 699번째 청원입니다.</p>
      <p class="">하단의 버튼을 눌러 구체적인 반대 의견도 말씀해주세요.</p>
    </div>
    <div class="email-user-content">
      <p class="">안녕하세요, 전현희의원님!
환경노동위원회에 계류중인 2009713의안인  '폐기물관리법 일부개정법률안(한정애의원 등 10인)'이 왜 통과되지않는지 궁금합니다.전현희의원님은 이 입법안에 대해 어떤 의견을 가지고 계신가요? 이 입법을 빠르게 추진해주세요.
이 법안을 꼭 필요로 하는 대한민국의 시민, admin@2jung.com 드림.</p>
    </div>
  </section>
  <hr>
  <section class="email-tojung">
    <div class="email-tojung-content">
      <p class="">이 이메일 청원은 ‘투정’ ( https://tojung.me ) 을 통해 전송되었습니다.
투정은 일반 시민들이 국회의 계류 입법안을 쉽고 재밌게 볼 수 있도록 도와주는 입법 청원 플랫폼입니다.</p>
      <p class="">아래 버튼을 눌러 청원자들에게 쉽고 간편하게 의원님의 입장을 전달할 수 있습니다.
      버튼을 누르는 동시에 https://tojung.me/product/13  링크의 ‘타임라인’ 탭에 의원님의 찬성/반대/중립 의견이 자동으로 등록됩니다. 버튼을 누른 후, 구체적인 추가 의견도 입력 가능합니다.</p>
    </div>
  
    <div class="email-tojung-btn-box">
      <p class="text-center">이 법안의 심사촉구 필요성에</p>
      <div class="email-tojung-btns d-flex justify-content-around">
        <button>찬성합니다.</button>
        <button>반대합니다.</button>
        <button>중립입장입니다.</button>
      </div>
    </div>

    <p class="">추가 문의사항이 있으시다면,</p>
    <p class="">tojung22@gmail.com으로 연락주세요.</p>
  </section>
</div>