
<%= @content %>
<br>
----------------------------------<br>
이 이메일 청원은 '투정(2jung.com)'을 통해 발송되었습니다.
<br><br>
의원님, 이 입법안에 대한 어떤 의견을 가지고 계신가요? 아래의 링크를 눌러, 이메일 청원에 대한 의원님의 의견을 말씀해 주세요.
<br><br>
찬성하기 : <button><a href="https://2jung.com/agree?<%= { :key => @agree_hash }.to_query %>">찬성</a></button><br>
반대하기 : <button><a href="https://2jung.com/disagree?<%= { :key => @disagree_hash }.to_query %>">반대</a></button><br>
*각각의 링크를 클릭하면 투정플랫폼(2jung.com)에 자동 반영되며, 추가 의견에 대해 입력하실 수 있습니다.
<br>
'투정'은 국회의 입법과정이 많은 사람들의 관심 속에 공론화되고, 대한민국을 더 발전시킬 입법안들이 주목받는 세상을 꿈꿉니다.
<br>
바쁘신 와중에도, '투정'을 통해 국민들과의 소통에 응해주셔서 정말 감사합니다.
<br>