<button type="button" onclick="pay_new_test()">결제창 테스트 버튼</button>
<script type="text/javascript">
  function pay_new_test() {
      $(document).ready(function () {
          var IMP = window.IMP;
          IMP.init('imp03714372');
          IMP.request_pay({
              pg: 'danal',
              pay_method: 'card',
              merchant_uid: 'merchant_' + new Date().getTime(),
              name: '주문명:test#1',
              amount: 100,
              buyer_email: 'testada2@test.com',
              buyer_name: 'buyer111',
              buyer_tel: '010-112-112',
              buyer_addr: '주소 주소 주소',
              buyer_postcode: '44444',
              digital: 'true',
          }, function (rsp) {
              if (rsp.success) {
                  var msg = '결제가 완료되었습니다.';
                  msg += '고유ID : ' + rsp.imp_uid;
                  msg += '상점 거래ID : ' + rsp.merchant_uid;
                  msg += '결제 금액 : ' + rsp.paid_amount;
                  msg += '카드 승인번호 : ' + rsp.apply_num;
              } else {
                  var msg = '결제에 실패하였습니다.';
                  msg += '에러내용 : ' + rsp.error_msg;
              }
          })
      });
  }
</script>
