<!-- Bottom bar -->
<nav class="navbar bottom-bar fixed-bottom text-center bg-light">
  <a href="" class="d-block text-dark">
    <%=image_tag(@cdn_url+"brand.png", class: "bottom-icon")%>
    <p class="font-12 mb-0" lang="en">BRAND</p>
  </a>
  <a href="/" class="d-block text-dark">
    <%=image_tag(@cdn_url+"home.png", class: "bottom-icon")%>
    <p class="font-12 mb-0" lang="en">HOME</p>
  </a>
  <a href="" class="d-block text-dark">
    <%=image_tag(@cdn_url+"my.png", class: "bottom-icon")%>
    <p class="font-12 mb-0" lang="en">MY</p>
  </a>
</nav>
<!-- // Bottom bar -->
