<%if @products.empty?%>
  <h4 class="text-center" id="empty-ment">상품이 준비중입니다.</h4>
<%end%>
<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="all">
  <!-- Product card -->
    <%#=render :partial => "home/card", :locals => {:products => @products}%>
    <%=render 'card', collection: @products, cached: true %>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->
<script async>
$(document).ready(function () {
  $('.center').not('.slick-initialized').slick({
  arrows: false,
  centerPadding: '10px',
  slidesToShow: 3,
  slidesToScroll: 1,
  variableWidth: true,
  touchMove: true,
  draggable: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
  })
});


function cate_change(item){
  $(document).ready(function () {
    $('.category-keyword').filter('.cate-red').removeClass("cate-red");
    $(item).addClass("cate-red");
    var x = $(item).html();
    $('#category-tag').html(x);
  });
}

// Mobile Center 만 Card body 보이게 하기
function cardBodyShow(){
  $('.card-body').css('display','none');
  var cardMent = $('.card').filter('.slick-active').children().children();
  cardMent = cardMent[1];
  $(cardMent).css('display','block');
}

// 모바일로 접근시에 CardBodyShow 작동
$(document).ready(function(){
  if (window.matchMedia("screen and (max-width: 576px)").matches) {
    cardBodyShow();
    $('.center').on('swipe', function(event, slick, direction){
      cardBodyShow();
    });
  }
});

// window 사이즈가 줄어들었을 때 CardBodyShow 작동
$(window).resize(function(){
  if (window.matchMedia("screen and (max-width: 576px)").matches) {
    cardBodyShow();
    $('.center').on('swipe', function(event, slick, direction){
      cardBodyShow();
    });
  }
});

// window 사이즈가 늘어났을 때 CardBodyShow 작동
$(window).resize(function(){
  if (window.matchMedia("screen and (min-width: 768px)").matches){
    $('.card-body').css('display','block');
    $('.center').on('swipe', function(event, slick, direction){
      $('.card-body').css('display','block');
    });
  }
});

// 원화 콤마 찍기
$(document).ready(function(){
  for (let i=0; i<$('.funding-money').length; i++){
    putMoney = $('.funding-money')[i];
    money = $('.funding-money')[i];
    console.log(putMoney);
    console.log(money);
    money = $(money).html();
    if (money !== "0원"){
        // not working well
      //money = money.substring(0,money.length-1)
      //money = Number(money);
      //money = money.toLocaleString();
      money = money+"원";
      $(putMoney).html(money);
    }
  }
});

</script>
