<%if @products.empty?%>
  <h4 class="text-center" id="empty-ment">상품이 준비중입니다.</h4>
<%end%>
<!-- Product Thumbnail Mobile-->
<div class="scrolling-wrapper center visible-xs" id="all">
  <!-- Product card -->
    <%=render 'card', collection: @products, cached: true %>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail Mobile-->

<!-- Product Thumbnail Desktop-->
<div class="container visible-lg card-desktop">
  <div class="row justify-content-between">
    <%=render 'card', collection: @products, cached: true %>
  </div>
  <!-- //Product Thumbnail Desktop-->
</div>

<script defer>
    initHomeIndex();
</script>