
<!-- Product Thumbnail -->
<div class="scrolling-wrapper center" id="all">
  <!-- Product card -->
    <%=render :partial => "home/card", :locals => {:products => @products}%>
  <!-- Product Card -->
</div>
<!-- //Product Thumbnail -->
<script>
$(document).ready(function () {
  $('.center').not('.slick-initialized').slick({
  arrows: false,
  centerPadding: '10px',
  slidesToShow: 3,
  slidesToScroll: 1,
  variableWidth: true,
  touchMove: true,
  draggable: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
  })
});

</script>

<script>
  function cate_change(item){
    $(document).ready(function () {
      $('.category-keyword').filter('.cate-red').removeClass("cate-red");
      $(item).addClass("cate-red");
      var x = $(item).html();
      $('#category-tag').html(x);
    });
  }

  // 원화 콤마찍기
  $(document).ready(function(){
    var money = $('.funding-money').html();
    money = money.substring(0,money.length-1)
    money = Number(money);
    money = money.toLocaleString();
    money = money+"원";
    $('.funding-money').html(money);

  });

  function cardBodyShow(){
    $('.card-body').css('display','none');
    var cardMent = $('.card').filter('.slick-active').children().children();
    cardMent = cardMent[1];
    $(cardMent).css('display','block');
  }

  $(document).ready(function(){
    if (window.matchMedia("screen and (max-width: 576px)").matches) {
        cardBodyShow();
      $('.center').on('swipe', function(event, slick, direction){
        cardBodyShow();
      });
    }
  });

  $(window).resize(function(){
    if (window.matchMedia("screen and (max-width: 576px)").matches) {
        cardBodyShow();
      $('.center').on('swipe', function(event, slick, direction){
        cardBodyShow();
      });
    }
  });

  $(window).resize(function(){
    if (window.matchMedia("screen and (min-width: 768px)").matches){
      $('.card-body').css('display','block');
      $('.center').on('swipe', function(event, slick, direction){
        $('.card-body').css('display','block');
      });
    }
  });

</script>
