<div class="maker-opinion">
  <p class="font-14 font-weight-bold mb-5">전현희 의원님<!--maker-->은 2009713<!--법안 번호-->의안인  '폐기물관리법 일부개정법률안(한정애의원 등 10인)'<!--법안 제목--> 에 대한 시민청원에 
<span class="font-red">“찬성”<!--찬/반--></span> 입장을 밝혀주신 상태입니다.
아래의 빈 칸에 구체적인 찬성<!--찬/반--> 의견도 말씀해주세요.</p>

  <p class="font-14 font-weight-bold mb-5">찬성<!--찬/반--> 의견도 성공적으로 반영 완료되었습니다.</p>
  <p class="font-14 font-weight-bold mb-5">시민들의 청원에 응답해주셔서 감사합니다.</p>

  <div class="tojung-btns d-flex mt-5 justify-content-center">
    <button class="btn-opinion mx-1 px-0">투정 홈페이지로 이동</button>
    <button class="btn-opinion mx-1 px-0">투정 페이스북 이동</button>
  </div>
</div>