<nav id="shareBar" class="bg-white">
  <section class="share">
    <%=image_tag("fb.svg", class: "d-block mx-auto mb-3")%>
    <%=image_tag("kakao.jpg", class: "kakao_icon d-block mx-auto mb-3")%>
  </section>
</nav>
<div class="overlay"></div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#shareBar').unwrap();
  });
</script>
