<!-- 메인 이미지 -->
<section class="ready-image" style="background-image: url(<%=asset_path('dummy.jpg')%>);">
  <p class="ready-subject">범죄</p>
  <h4 class="ready-title">DNA확보된 성범죄에 대한 공소시효 폐지</h4>
  <p class="ready-maker">서영교 의원</p>
</section>
<!-- // 메인 이미지 -->
<!-- 콘텐츠 -->
<div class="ready-container">
  <!-- 문제 -->
  <section class="ready-content">
    <pre class="ready-ment">
이런 문제가 일어나고 있습니다.
    </pre>
    <ul class="problems">
      <li class="problem">가정폭력을 당한 피해자의 신고율 1%</li>
      <li class="problem">가정폭력 가해자 기소율 2%</li>
      <li class="problem">가정폭력 가해자 구속율 1%</li>
      <li class="problem"><a href="#">https://bitly.kr/MZP</a></li>
      <li class="problem"><a href="#">https://bitly.kr/MZP</a></li>
    </ul>
    <img src="" alt="">
  </section>
  <!-- //문제 -->

  <!-- 솔루션 -->
  <section class="ready-content">
    <pre class="ready-ment">
이렇게 좋은 솔루션이
국회에서 관심받지
못하고 있습니다.
    </pre>
    <p class="solution">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button>펼쳐보기</button>
  </section>
  <!-- // 솔루션 -->

  <!-- 심사 과정 -->
  <section class="ready-content">
    <pre class="ready-ment">
심사는
이렇게 지연되고 있습니다.
    </pre>
    <div class="d-flex">
      <div class="box">
        <h4>304</h4>
        <p>계류기간</p>
      </div>
      <div class="box">
        <h4>304</h4>
        <p>계류기간</p>
      </div>
      <div class="box">
        <h4>304</h4>
        <p>계류기간</p>
      </div>
    </div>
    <div class="d-flex">
      <a href="#">법안 검토보고서</a>
      <a href="#">법안 심사회의록</a>
    </div>
    <h4>심사 담당 법제사법위원회 국회의원</h4>
    <div class="container">
      <div class="row">
        <div class="col-2"><p>박진영</p></div>
        <div class="col-2"><p>박진영</p></div>
        <div class="col-2"><p>박진영</p></div>
        <div class="col-2"><p>박진영</p></div>
        <div class="col-2"><p>박진영</p></div>
      </div>
    </div>
  </section>
  <!-- //심사과정 -->
  <!-- 좋아요 -->
  <section class="ready-content" id="last">
    <div class="made-by">
      <p>Editor | Yein of Tojung</p>
      <p>Designer | SUNOO</p>
    </div>
    <p>좋아요</p>
    <pre>
청원에 참여해보세요.
많은 관심을 얻은 '베도'법안은
NEXT 캠페인으로 선정됩니다.</pre>
  </section>
  <!-- //좋아요 -->
  <!-- 댓글 -->
  <section>
    <input type="text">
  </section>

</div>
<!-- //콘텐츠 -->
