<div class="wrapper">
  <%=render 'product_img', collection: @product, cached: true %>
  <%=render 'product_info', collection: @product%>
  <%=render 'navbar', collection: @product, cached: true %>
</div>
<%=render 'bottom_bar', collection: @product%>
