<div class="wrapper">
  <%=render 'product_img', collection: @product%>
  <%=render 'product_info', collection: @product%>
  <%=render 'navbar', collection: @product%>
</div>
<%=render 'bottom_bar', collection: @product%>
