<!-- Propose Cover -->
<section class="propose_cover">
	<h2 class="sr-only">제안하기</h2>
	<p class="propose_text text-white mb-2 font-sm-12">겪고 있는 문제가 있나요?</p>
	<p class="propose_text text-white mb-2 font-sm-12">지금 바로, 투정부려보세요!</p><br />
	<p class="propose_text text-white mb-2 font-sm-12">당신의 투정,</p>
	<p class="propose_text text-white mb-2 font-sm-12">투정이 국회로 직접 배송해드립니다.</p>
</section>
<!-- //Propose Cover -->
<!-- Propose Form -->
<form class="post" enctype="multipart/form-data" action="/propose" accept-charset="UTF-8" method="post">
	<h4 class="my-4">관리자용 법안올리기</h4>
	<input name="utf8" type="hidden" value="&#x2713;">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
  <input type="text" name="bill_id" placeholder="법안id ex) 200001 ">
  <input type="text" name="bill_name" placeholder="법안 이름 ex) 데이트 폭력법">
  <div class="form-group">
		<label for="exampleFormControlInput1">투정 제목</label>
		<input type="text" class="form-control font-sm-10" id="exampleFormControlInput1" name="propose_title" placeholder="20자 이내로 바라는 점을 이야기해주세요.">
	</div>
 	<div class="form-group">
	 <label for="exampleFormControlInput1">상임위</label>
	 <input type="text" class="form-control font-sm-10" id="assos" name="assos" placeholder="상임위 이름 적으세요.">
 	</div>
	<div class="form-group">
		<label for="exampleFormControlTextarea1">내용</label>
		<textarea class="form-control font-sm-10" id="propose_content" name="propose_content" rows="10" ></textarea>
	</div>
	<div class="form-group">
		<label for="exampleFormControlFile1">대표 사진 업로드</label>
		<input type="file" class="form-control-file" id="exampleFormControlFile1" onchange="filename_change(this)" name="propose_image" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
	</div>
	<div class="form-group">
		<label for="exampleFormControlFile1">굿즈 사진 업로드</label>
		<input type="file" class="form-control-file" id="exampleFormControlFile1" name="goods" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
	</div>
	<div class="form-group">
		<label for="exampleFormControlFile1">캠페인 사진 업로드</label>
		<input type="file" class="form-control-file" id="exampleFormControlFile1" name="campaign" accept="image/png,image/gif,image/jpeg,image/PNG,image/jpg">
	</div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">캠페인 내용</label>
    <textarea class="form-control font-sm-10" id="campaign_content" name="campaign_content" rows="10" placeholder="캠페인 내용"></textarea>
  </div>
	<div class="form-group">
		<label for="exampleFormControlInput2">법안 원문 링크</label>
		<input type="text" class="form-control font-sm-10" id="exampleFormControlInput2" name="bill_link">
	</div>
	<div class="form-group">
		<label for="exampleFormControlInput3">텀블벅 링크</label>
		<input type="text" class="form-control font-sm-10" id="exampleFormControlInput3" name="tumb">
	</div>
	<button type="submit" class="btn btn-white font-sm-12">제출</button>
</form>
