// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pro-img{
  height: 411px;
  width: 411px;
  display: block;
  margin: auto 0;
}

@media screen and (max-width: 768px) {
  .pro-img{
    width: 100%;
    height: auto;
  }

  .pro-info{
    width: 537px;
  }

  .pro-info-xs{
    margin: 15px 15px !important;
  }
}

.pro-info-wrapper{
  margin-bottom: 50px;
}

.pro-info{
  width: 50%;
  padding: 10px 20px;
}

// @media screen and (max-width: 768px){
//   .pro-info{
//     margin: auto 40px;
//     width: 317px;
//   }
// }

.pro-money{
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.btn-white{
   background-color: inherit;
   border: 1px solid #c5c5c5;
   width: 100%;
}

.package-item{
  width: 80px;
  height: 80px;
}

.dropdown-share{
  width: 49%;
  margin: 0 1%;
}

.package-box2{
  border: 1px solid #666;
}

.share-button{
  width: 100%;
  height: 40px;
  background-color: inherit;
  border: 1px solid #666;
}

.button:hover{
  cursor: pointer;
}

.dropdown-share:hover{
  cursor: pointer;
}

.share-button:hover{
  cursor: pointer;
}

li:hover{
  cursor: pointer;
}

.buy-button-lg{
  width: 98%;
  margin: 0 1%;
  height: 50px;
  background-color: #434343;
  color: white !important;
  text-align: center;
  padding: 14px 0;
  border: none;
  cursor: pointer;
}

.buy-button-lg:hover, .buy-button-lg:focus{
  color: black !important;
  outline: none,
}

.dropdown-toggle::after{
  margin: auto 0;
  margin-left: 10px;
}

.share-button.dropdown-toggle::after{
  display: none;
}

.sns-icon{
  width: 180px;
}

.dropdown-menu{
  transform: translate3d(0px, 126px, 0px);
}

.package-box:hover{
  background-color: #ededed;
}

.package-box > .package-info > .package-price:hover{
  color: white !important;
}

.m-6{
  margin: 6px 12px !important;
}

// navbar
#myTab.nav-tabs{
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  padding-top: 1px;
  box-shadow: none;
}

#myTab.nav-tabs .nav-link{
  border: none;
}

#myTab.nav-tabs .nav-link.active{
  background-color: #f9f9f9;
  border: none;
  border-bottom: solid 4px #434343;
}

#myTab.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-bottom: solid 4px #434343;
  box-shadow: none;
}

.pay-link.hidden0{
  visibility: hidden !important;
}

.overlay2 {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: calc(100vh-226px);
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

.overlay2.active {
    display: block;
    opacity: 1;
    top: 60px;
    bottom: 302px;
}

.video-text{
  line-height: 1.25;
}

.package-row > .slick-list > .slick-track{
  margin-top: 0px;
}
// description
.carousel-indicators.cardnews{
  bottom: 20px;
}

.carousel-indicators.cardnews li{
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #AAB2BD;
}
@media screen and (min-width: 768px){
  .cardnews-img{
    width: 404px !important;
    height: 520px !important;
    display: block;
    margin: 0 auto;
  }
}
.carousel-indicators.cardnews .active{
  background-color: #333333;
}

.desc-pro-img{
  width: 186px;
  height: 186px;
  margin: 0 auto;
}
@media screen and (min-width: 576px){
  width: 175px;
  height: 175px;
}
@media screen and (min-width: 768px){
  .desc-pro-img{
    width: 242.5px;
    height: 242.5px;
    margin: 0 auto;
  }
}

.pro-num{
  display: inline-block;
  padding: 3px 9px;
  font-size: 14px;
  border: 1px solid #434343;
  border-radius: 20px;
  font-weight: bold;
}

.pro-link{
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table{
  width: 310px;
  margin: 0 auto;
}

.table th, .table td{
  border: none;
  padding: 0.25rem;
  font-weight: normal;
}

.table th{
  text-align: right;
}

.table td{
  padding-left: 16px !important;
}

.banner-line{
  width: 50px;
  height: 2px;
  background-color: #434343;
}

.package-set{
  width: 330px;
  margin: 0 auto;
}

@media (min-width: 768px){
  .package-set{
    width: 700px;
    margin: 0 0;
  }
}
// package
.package-bigimg:focus, .package-bigimg:active{
  outline: none;
  border: none;
}
.package-img{
  width: 90px;
  height: 90px;
  border: 4px;
}

.package-img:focus, .package-img:hover, .package-img:active{
  cursor: pointer;
}

.border-red{
  border: 4px solid #d12a2d;
}

.bottom-bar{
  z-index: 999;
  background-color: #434343 !important;
}

.buy-button, .buy-button:hover, .buy-button:focus{
  background-color: #434343 !important;
}

.pro-card .card-body pre{
  height: 62px;
}

.refund, .refund h4{
  line-height: 24px;
}
//

// Package bar
#packageBarCollapse:hover{
  cursor: pointer;
}
#packageBar{
  overflow-y: scroll;
  width: 100%;
  height: 242px;
  margin-bottom: -182px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: all 0.3s;
}

#packageBar.open{
  margin-bottom: 60px !important;
  #packageBarCollapse{
    font-weight: bold;
  }
}

.package-content{
  white-space: normal;
}

.package-img{
  width: 80px;
  height: 80px;
}

.package-item.hide, .package-price.hide{
  display: none;
}

.package-item.show, .package-price.show{
  display: block;
}

#packageContainer.border{
  border: 1px solid #666;
}

// Share bar
#shareBar{
  overflow-y: scroll;
  width: 100%;
  height: 242px;
  margin-bottom: -182px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: all 0.3s;
}

#shareBar.open{
  margin-bottom: 60px !important;
}

// timeline
.petit-num{
  font-size: 36px !important;
  font-weight: bold;
}

.oval{
  width: 12px;
  height: 12px;
  border-radius: 400px;
  margin-right: 7px;
  margin-top: 2px;
}

.cons{
  background-color: #bf868e;
}

.pros{
  background-color: #a6c0bb;
}

.no_respond{
  background-color: #d4c3ac;
}

.neutral{
  background-color: #6a3350;
}

.maker_card{
  background-image: linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(pyo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.maker_card_info{
  height: 100%;
  padding-top: 80%;
}

.commu{
  margin-top: 80px;
  margin-bottom: 40px;
}

.commu-link{
  background-color: #f1f1f1;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.time-row{
  padding: 20px 20px;
  margin-left: -24px;
  margin-right: -24px;
}

// share
.share{
  padding: 60px 50px;
}

.kakao_icon{
  width: 230px;
  height: 52px;
}

.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px){
  table tr th{
    text-align: center;
  }
}

.design-purpose{
  width: 100%;
}


// 베도
.ready-image{
  height: 90vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 32px;
}

.ready-image:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vw;
  margin: 62px auto 0 auto;
  width: 1000px;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(136, 136, 136, 0.76) 47%, #000000);
}

@media screen and (max-width: 768px){
  .ready-image:after{
    width: 700px;
  }
}

@media screen and (max-width: 576px){
  .ready-image:after{
    width: auto;
  }
}

.image-text{
  width: 50%;
  z-index: 2;
}

.ready-container{
  padding-left: 32px;
  padding-right: 32px;
}

.ready-subject{
  width: 80px;
  background-color: #333333;
  line-height: 2;
}

.ready-title{
  line-height: 1.4;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.ready-container{
  background-color: #f9f9f9;
  margin-top: -32px;
  border-radius: 15px;
}

.ready-ment{
  font-size: 20px;
  font-weight: bold;
}

.problems > li{
  list-style-type: none;
}

.ready-img{
  display: block;
  width: 320px;
  height: 200px;
  margin: 0 auto;
  border-radius: 16px;
}

.solution{
  display: -webkit-box;
  overflow:hidden;
  vertical-align:top;
  text-overflow: ellipsis;
  word-break:break-all;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}

.solution.open{
  -webkit-line-clamp: initial;
}

.font-32{
  font-size: 32px;
}

.law-link{
  width: 150px;
  text-align: center;
}

.banner-line2{
  height: 2px;
  background-color: #434343;
}

.form-control.ready-form{
  box-shadow: none;
  background-color: #f9f9f9;
  padding-bottom: 66px;
}

.ready-bill-title-box{
  width: 80%;
  margin: 0 auto;
}

.ready-bill-title{
  width: 80%;
  margin-top: -24px;
}

.input-group{
  height: 100px;
}

.comment-box{
  border-top: 1px solid #ebebeb;
}

.form-control.ready-form[placeholder]{
  color: black;
}
.btn-outline-secondary{
  background-color: #333333;
  width: 80px;
  font-size: 14px;
}

.caro-card:focus{
  outline: none;
}

.cards-dot{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
.cards-dot > li{
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #AAB2BD;
  color: transparent;
  list-style-type: none;
  margin-left: 3px;
  margin-right: 3px;
}

.cards-dot > li.slick-active{
  background-color: #333333;
}

.cards-dot > li > button{
  display: none;
}

.caro-cards > .slick-list > .slick-track{
  margin-top: 0;
}

.soldout-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.8);
  z-index: 2;
}

.soldout-item{
  cursor: default;
}

.soldout-text{
  margin-left: -12px;
  margin-top: -6px;
  display: flex;
  position: absolute;
  height: 36px;
  justify-content: center;
  width: 100%;
  height: 36px;
  align-items: center;
  color: white;
  cursor: default;
}

.soldout-overlay.on{
  display: block !important;
}

.soldout-text.on{
  display: flex !important;
}

.bg-overlay{
  background-color: rgba(23,23,23,0.8) !important;
}

.overlay-behind{
  z-index: -1;
  position: relative;
}

.soldout-text-mobile{
  display: flex;
  position: absolute;
  height: 36px;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: white;
}

.package-box{
  padding: 6px 12px;
}

.z-1{
  z-index: -2;
}
