// Place all the styles related to the shopping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* TISSUE COVER*/
.tissue_cover{
  background-image: url(../images/tissue_desktop.png);
  height: calc(100vw*0.54);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* TISSUE CONTENT */
.tissue_content{
  padding: 0 24% 60px 24%;
}

.btn-buy{
  width: 262px;
  height: 44px;
  margin: 40px auto;
  display: block;
}

.tissue_content > p{
  margin-bottom: 1.5rem;
  line-height: 2;
}

.tissue_content > h4{
  line-height: 2;
}
.w-60{
  width: 60%;
}
.w-38{
  width: 38%;
}
@media screen and (max-width: 576px) {
  /* TISSUE CONTENT */
  .tissue_content{
    padding: 0 5% 30px 5%;
  }
  .btn-buy{
    height: 32px;
    margin: 30px auto;
  }
  .tissue_content > p{
    margin-bottom: 1rem;
    padding: 0 4%;
  }
  .tissue_content > h4{
    padding: 0 4%;
  }

}

/* TISSUE COMPLETE */
.tissue_complete{
  padding: 60px 32%;
}

.order_info{
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .tissue_complete{
    padding: 60px 12%;
  }

  .order_info{
    font-size: 12px;
    padding: 0 5%;
  }
}

/* TISSUE ORDER */
.tissue_order{
  padding: 60px 24%;
}

.order_form{
  padding: 0 3%;
}

.order_info > select.custom-select{
  padding: 9px 6px;
  line-height: 1.5;
  width: 260px;
  height: 44px;
}

.order_info_group{
  padding: 0 8% 60px 8%;
}

.line{
  border: solid 0.5px #979797;
  margin: 60px 0 40px 0;
}

.order_form2 > .form-group{
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
/* TISSUE ORDER */
  .tissue_order{
    padding: 40px 8%;
  }

  .order_form{
    padding: 0;
  }

  .order_info > select.custom-select{
    padding: 2px 3px;
    line-height: 1.5;
    width: 148px;
    height: 25px;
  }

  .order_form > .order_info{
    padding: 0;
  }

  .order_info_group{
    padding: 0 9% 40px 9%;
  }

  .order_form2{
    font-size: 12px;
  }

  .order_form2 > .form-group{
    margin-bottom: 10px;
  }

  .btn-buy{
    width: 100%;
  }
}
