<!-- Footer -->
<footer class="footer loaded">
  <div class="d-flex visible-lg justify-content-between font-10">
    <div class="footer-left">
      <p class="company_info">주식회사 투정 | 대표 : 김예인 | tojung22@gmail.com</p>
      <p class="company_info">주소 : 서울특별시 중구 서소문로9길 28, 101-1402 | 사업자등록번호 : 580-81-00989 | 대표번호 : 010-9511-1162</p>
      <p class="company_info">문의 : 카카오톡 플러스 친구 '투정' 혹은 '투정' 페이스북</p>
      <div class="menus">
        <a target="_blank" href="/home/policy" class="mr-3">이용약관</a>
        <a target="_blank"href="/home/privacy" class="mr-3">개인정보처리방침</a>
        <a target="_blank"href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2018301013030200899&pageUnit=10&searchCnd=wrkr_no&searchKrwd=5808100989&pageIndex=1" class="mr-3 underbar-none">사업자정보확인</a>
      </div>
      <div class="copyright font-16 mt-3">ⓒ 투정 2018</div>
    </div>
    <div class="footer-right font-16 font-sm-10">
      <a href="mailto:help@2jung.com" data-originallink="mailto:help@2jung.com" class="mr-3"><i class="fas fa-envelope fa-lg"></i></a>
      <a target="_blank"href="https://www.facebook.com/tojung.me/" class="mr-3"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a target="_blank"href="https://www.instagram.com/tojung.official/"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
  </div>
  <div class="visible-xs text-center font-10">
    <div class="footer-right font-16 font-sm-10">
      <a href="mailto:help@2jung.com" data-originallink="mailto:help@2jung.com" class="mr-3"><i class="fas fa-envelope fa-lg"></i></a>
      <a target="_blank"href="https://www.facebook.com/tojung.me/" class="mr-3"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a target="_blank"href="https://www.instagram.com/tojung.official/"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
    <div class="menus mb-2 mt-2">
      <a target="_blank"href="/home/policy" class="ml-2 mr-3 font-grey">이용약관</a>
      <a target="_blank"href="/home/privacy" class="mr-3 font-grey">개인정보처리방침</a>
      <a target="_blank"href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2018301013030200899&pageUnit=10&searchCnd=wrkr_no&searchKrwd=5808100989&pageIndex=1" class="mr-3 underbar-none">사업자정보확인</a>
    </div>
    <p class="company_info">주식회사 투정 | 대표 : 김예인 | tojung22@gmail.com</p>
    <p class="company_info">주소 : 서울특별시 중구 서소문로9길 28, 101-1402</p>
    <p class="company_info">사업자등록번호 : 580-81-00989</p>
    <p class="company_info">대표번호 : 010-9511-1162</p>
    <p class="company_info">카카오톡 플러스친구 : '투정' 검색</p>
    <div class="copyright">ⓒ 투정 2018</div>
  </div>
</footer>
<!-- // Footer -->
