<!-- Footer -->
<footer class="footer">
  <div class="d-flex visible-lg justify-content-between font-10">
    <div class="footer-left">
      <p class="company_info">주식회사 투정 | 대표 : 김예인 | tojung22@gmail.com</p>
      <p class="company_info">주소 : 서울특별시 중구 서소문로9길 28, 101-1402 | 사업자등록번호 : 580-81-00989 | 대표번호 : 031-653-3621</p>
      <div class="menus">
        <a href="/home/policy" class="mr-3">이용약관</a>
        <a href="/home/privacy" class="mr-3">개인정보처리방침</a>
        <a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2018301013030200899&pageUnit=10&searchCnd=wrkr_no&searchKrwd=5808100989&pageIndex=1" class="mr-3 underbar-none">사업자정보확인</a>
      </div>
      <div class="copyright font-16 mt-3">ⓒ 투정 2018</div>
    </div>
    <div class="footer-right font-16 font-sm-10">
      <a href="mailto:help@2jung.com" data-originallink="mailto:help@2jung.com" class="mr-3"><i class="fas fa-envelope fa-lg"></i></a>
      <a href="https://www.facebook.com/2jungcom/" class="mr-3"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a href="https://www.instagram.com/tojung_/"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
  </div>
  <div class="visible-xs text-center font-10">
    <div class="footer-right font-16 font-sm-10">
      <a href="mailto:help@2jung.com" data-originallink="mailto:help@2jung.com" class="mr-3"><i class="fas fa-envelope fa-lg"></i></a>
      <a href="https://www.facebook.com/2jungcom/" class="mr-3"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a href="https://www.instagram.com/tojung_/"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
    <div class="menus mb-2">
      <a href="/home/policy" class="ml-2 mr-3 font-grey">이용약관</a>
      <a href="/home/privacy" class="mr-3 font-grey">개인정보처리방침</a>
      <a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2018301013030200899&pageUnit=10&searchCnd=wrkr_no&searchKrwd=5808100989&pageIndex=1" class="mr-3 underbar-none">사업자정보확인</a>
    </div>
    <p class="company_info">주식회사 투정 | 대표 : 김예인 | tojung22@gmail.com</p>
    <p class="company_info">주소 : 서울특별시 중구 서소문로9길 28, 101-1402</p>
    <p class="company_info">사업자등록번호 : 580-81-00989</p>
    <p class="company_info">대표번호 : 031-652-3621</p>
    <div class="copyright">ⓒ 투정 2018</div>
  </div>
</footer>
<!-- // Footer -->
